@media (max-width:805px) {
    li span {

        right: 19.5vw;
    }
}

@media(max-width:570px) {

    .main {
        display: flex;
        flex-direction: column;
    }

    .btn {
        margin: 15px 0 5px 0;
    }

    li span {

        right: 17.5vw;
    }
}

@media(max-width:420px) {

    li span {

        right: 15.5vw;
    }
}