@media(max-width:600px) {

    body{
        background-color: white;
    }
    
    .main {
        display: flex;
        flex-direction: column;
    }

    .list {
        width: 50%;
    }

    .btn {
        margin: 15px 0;
    }

    li span {
        left: 71vw;
        position: fixed;
       
    }
}

/* @media () */